.container{
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    margin-top: 200px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.quantity{
    font-size: 20px;
   margin-left: 80px;
}
.quantity__minus{
    margin-right: 5px;
    cursor: pointer;
    font-size: xx-large;

}
.quantity__plus{
    margin-left: 5px;
    cursor: pointer;
    font-size: x-large;
    margin-top: 10px;
}